@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap");
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Great Vibes";
  src: url("./fonts/GreatVibes-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
.great-vibes-regular {
  font-family: "Great Vibes", cursive !important;
}

@font-face {
  font-family: "Fira Code";
  src: url("./fonts/FiraCode.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
.fira-code-regular {
  font-family: "Fira Code", cursive !important;
}

@layer base {
  body {
  font-family: "Poppins", sans-serif;
  background-color: transparent; /* hilangkan default hitam */
  margin: 0; /* hilangkan margin default browser */
  }
}

@layer utilities {

  .font-serif {
    font-family: "Playfair Display", serif;
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-down {
  animation: fadeDown 1s ease-out forwards;
}

.fade-down-delay {
  animation: fadeDown 2s ease-out 0.5s forwards;
  opacity: 0;
}

.fade-down-slow {
  animation: fadeDown 3s ease-out 1s forwards;
  opacity: 0;
}